#imCel0_00 {position: absolute; top: 0px; left: 10px; height: 565px; width: 1199px; overflow: hidden; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .ff3 {font-family: Tempus Sans ITC; }
#imObj0_00 .ff4 {font-family: Symbol; }
#imObj0_00 .ff5 {font-family: Wingdings; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fc3 {color: #000080; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 565px; overflow: hidden; }
#imPage {position: relative; height: 575px; }

