/* -- General Style -- */
body {font-size: 8px; vertical-align: baseline; }
p {margin: 0; padding: 0; } 
.fb {font-weight: bold; } .fi {font-style: italic; } .fu {text-decoration: underline; } 
ul.imBullet {margin: 0 0 0 20px; padding: 0; text-align: left; } ul.imBullet li {vertical-align: middle; }
.imAlign_left {text-align: left; }
.imAlign_center {text-align: center; }
.imAlign_right {text-align: right; }
.imAlign_justify {text-align: justify; }
img.imImage {border: 0px; vertical-align: baseline; }
.imInvisible, h1 {position: absolute; top: -10000px; left: -10000px; }
.imHidden {display: none; }
.imClear {clear: left; }
.imError {padding: 5px; margin: 10px; border: 1px solid #000000; background-color: #FFFFFF; font: 11px Tahoma; text-align: center; line-height: 16pt; }
#imToolTip {position: absolute; visibility: hidden; padding: 3px; z-index: 1001; }
#imZIBackg {display: none; position: absolute; text-align: center; width: 100%; background-image: url('imzibackg.png') !important; background-image: url('imblank.gif'); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="res/imzibackg.png", sizingMethod="scale"); cursor: pointer; }
#imZIImage {background: #EEEEEE url('imziload.gif') no-repeat center center; border: 1px solid #333333; margin: 0 auto; }
#imZIImage img {margin: 7px; }
#imZICaption {font: 11px Tahoma; color: #000000; padding: 0 7px 7px 7px; }
#imLockTxt {margin-left: 10px; font: 11px Tahoma; color: #000000; min-height: 300px; height: auto !important; height: 300px; }
#imLockForm {margin: 5px auto; text-align: left; padding: 5px; width: 200px; }
#imLockAlert {background-color: red; color: white; padding: 0 5px 0 5px; }
.imLockLabel {display: block; margin-top: 6px; }
.imLockBtn {font: 11px Tahoma; color: #000000; background-color: #C0C0C0; border: 1px solid #222222; margin: 5px; }
.imLockFld {font: 11px Tahoma; color: #000000; border: 1px solid #222222; margin: 4px 0; vertical-align: middle; }

/* -- Menu Main Settings -- */
#imMnMn {padding-top: 3px; }
#imMnMn ul, #imMnMn ul li {margin: 0; padding: 0; list-style: none; z-index: 1000; cursor: pointer; text-align: left; }
#imMnMn ul li {position: relative; float: left; margin-right: -0px; padding-right: 0px; }
#imMnMn ul a {display: block; text-decoration: none; width: 114px; padding: 3px 3px 3px 3px; height: auto !important; height: 1%; font: 11px Tahoma; color: #000000; float: none !important; float: left; }

/* -- Menu Main Hover Settings -- */
#imMnMn ul a:hover, #imMnMn ul li:hover a, #imMnMn ul li.iehover a {color: #000080; }

/* -- Menu Main Images -- */
#imMnMn a.imMnLv {background-image: url('imiconmenu.gif'); background-position: center right; background-repeat: no-repeat; }

/* -- Menu Level -- */
#imMnMn ul ul {display: none; position: absolute; top: 18px; left: 0px; }
#imMnMn ul ul ul {top: 0; left: 119px;}
#imMnMn ul ul li {float: left !important; float: none; display: block !important; display: inline; }
#imMnMn ul li:hover li a, #imMnMn ul li.iehover li a, #imMnMn ul li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li a, #imMnMn ul li:hover li:hover li:hover li a, #imMnMn ul li.iehover li.iehover li.iehover li a {padding: 3px; height: auto !important; height: 1%; font: 11px Tahoma; background-color: #FFFFFF; color: #000000; border: 1px solid #000000; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85); width: 112px; float: left !important; float: none; margin-bottom: 0 !important; margin-bottom: -1px; text-align: left; }
#imMnMn ul li li {padding-bottom: 0; margin-bottom: -1px; }
#imMnMn ul li:hover li a:hover, #imMnMn ul li:hover li:hover a, #imMnMn ul li.iehover li a:hover, #imMnMn ul li.iehover li.iehover a, #imMnMn ul li:hover li:hover li a:hover, #imMnMn ul li:hover li:hover li:hover a, #imMnMn ul li.iehover li.iehover li a:hover, #imMnMn ul li.iehover li.iehover li.iehover a, #imMnMn ul li:hover li:hover li:hover li a:hover, #imMnMn ul li.iehover li.iehover li.iehover li a:hover {background-color: #C0C0C0; color: #000080; }
#imMnMn ul li:hover ul ul, #imMnMn ul li:hover ul ul ul, #imMnMn ul li.iehover ul ul, #imMnMn ul li.iehover ul ul ul {display: none;}
#imMnMn ul li:hover ul, #imMnMn ul ul li:hover ul, #imMnMn ul ul ul li:hover ul, #imMnMn ul li.iehover ul, #imMnMn ul ul li.iehover ul, #imMnMn ul ul ul li.iehover ul {display: block;}

/* -- Menu Sub -- */
/*#imPageSub {width: 1085px; padding-left: 4px; float: right; background: url('imsubmnuline.gif') repeat-y 2px; }
#imMenuSub {width: 116px; float: left; padding-top: 10px; }
#imMenuSub ul {list-style: none; margin: 0; padding: 0; border: none; }
#imMenuSub li.imMenuSubCur, #imMenuSub ul a {height: auto !important; height: 0%; padding: 4px 3px 4px 3px; font: 11px Tahoma; color: #000000; border-bottom: 1px solid #C0C0C0; }
#imMenuSub li.imMenuSubCur {font-weight: bold; }
#imMenuSub ul a:link, #imMenuSub ul a:active, #imMenuSub ul a:visited {display: block; text-decoration: none; }
#imMenuSub ul a:hover, #imMenuSub ul a:focus {background-color: #C0C0C0; color: #000080; }
*/
/* -- Texts Style -- */
h2 {margin: 0px 0px 4px 10px; padding: 2px 0 0 0; font: bold 16px Tahoma; color: #000000; text-align: left; height: 20px; }
#imPathTitle {margin: 0px 0px 8px 10px; padding: 2px 0 0 0; font: 9px Tahoma; color: #808080; text-align: left; height: 13px; }
.imDefText {padding: 2px 0 0 0; font: 13px Tahoma; color: #000000; text-align: left; height: 17px; }
.fc0 {color: #000000; }
#imPage {margin: 0px 0px 8px 10px;}
#imFooterSiteMap {margin: 8px 0px 0px 10px; padding: 2px 0 0 0; font: 11px Tahoma; color: #000000; text-align: left; height: 15px; }
#imFooterSiteMap a:link, #imFooterSiteMap a:active, #imFooterSiteMap a:visited, #imFooterSiteMap a:hover {color: #000000; text-decoration: none; }
#imFooterSiteMap a:hover {color: #000000; text-decoration: underline; }
#imFooter_L, #imFooter_R {padding: 2px 0 0 0; font: 11px Tahoma; color: #000000; background-color: transparent; text-align: left; height: 17px; }
#imFooter a:link, #imFooter a:visited, #imFooter a:hover, #imFooter a:active {color: #0000FF; text-decoration: none;}
/* -- Links Style -- */
a.ImLink  {text-decoration:underline; }
a.ImLink:link {color: #0000FF; }
a.ImLink:visited {color: #0000FF; }
a.ImLink:hover {color: #0000FF; }

