body {margin: 0; padding: 0; background-color: #C0C0C0; }
#imSite {width: 1248px; margin: 15px auto; text-align: left; }
#imHeader {
	height: 135px;
	background-color: #C0C0C0;
	background-image: url(top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#imBody {background-color: #FFFF80; background-image: url('content.jpg'); background-repeat: repeat-y; background-position: center top; }
#imMenuMain {height: 28px; padding: 1px 7px 0 33px; background-color: #FFC080; background-image: url('menu.jpg'); background-repeat: no-repeat; background-position: center top; }
#imContent {clear: left; padding: 1px 30px 0 14px; }
#imFooter {clear: both; height: 52px; background-color: #C0C0C0; background-image: url('bottom.jpg'); background-repeat: no-repeat; background-position: right center; }
#imFooter_L {margin: 26px 0 0 33px; float: left; }
#imFooter_R {margin: 26px 7px 0 0; float: right; }
