@for $i from 1 through 9 {
    $time: #{($i / 10)}s;
    $transition: all $time ease;
    %tran-ease-#{$i} {
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
    }
    %tran-delay-#{$i} {
        -webkit-transition-delay: $time;
        -moz-transition-delay: $time;
        -o-transition-delay: $time;
        transition-delay: $time;
    }
}

* {
    font-family: 'Roboto', sans-serif;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

i {
    @extend .noselect;
}

.row {
    .col,
    [class^="col-"] {
        overflow: hidden;
    }
    .text-field-container {
        >div {
            width: 100%!important;
        }
    }
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    background-color: $secondary-color;
    display: block;
    #root {
        height: 100%;
        width: 100%;
        overflow: hidden;
        >div {
            height: 100%;
        }
    }
}

.main-app {
    width: 100%;
    height: 100%;
    position: relative;
    .body {
        top: 0px;
        left: 0px;
        position: absolute;
        flex-grow: 1;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @extend %tran-ease-5;
        color: $text-color;
    }
}

// MOBILE
@media (max-width: 1023px) {
    $menu-width: calc(100% - #{$icon-size});
    .main-app {
        .mt-menu {
            width: $menu-width;
            transform: translateX(-100%);
        }
        &.menu-opened {
            transform: translateX(0);
            .body {
                // transform: translateX(#{$menu-width});
                transform: translateX(100%) translateX(-#{$icon-size});
                .content>.content__overlay {
                    z-index: 999;
                    opacity: 1;
                }
            }
            .mt-menu {
                transform: translateX(0);
            }
        }
    }
}

// PC
@media (min-width: 1024px) {
    $menu-width: 350px;
    .main-app {
        .mt-menu {
            width: $menu-width;
            transform: translateX(-#{$menu-width});
        }
        &.menu-opened {
            transform: translateX(0);
            .body {
                transform: translateX($menu-width);
                .content>.content__overlay {
                    z-index: 999;
                    opacity: 1;
                }
            }
            .mt-menu {
                transform: translateX(0);
            }
        }
    }
}

.body {
    .main-navbar {
        position: relative;
        color: $white;
        background-color: $primary-color;
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        margin: 0;
        height: $nav-size;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .navbar__title {
            font-size: 1.6em;
            flex-grow: 1;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 200;
            cursor: pointer;
            .navbar__subtitle {
                font-size: .5em;
                font-weight: 200;
            }
        }
    }
    .content {
        position: absolute;
        width: 100%;
        height: calc(100% - #{$nav-size});
        >.content__overlay {
            @extend %tran-ease-5;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -99;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    >.page__content {
        width: 100%;
        flex-grow: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        >.row.no-gutters {
            width: 100%;
        }
    }
    .mt-empty {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: darken($secondary-color, 20);
        padding: 10px;
        i {
            font-size: 6em;
            margin-bottom: 10px;
        }
        span {
            font-size: 1.5em;
            text-align: center;
            &.little {
                font-size: 1.2em;
            }
        }
    }
}

.mt-button {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .mt-button__content {
        @extend %tran-ease-3;
        height: $icon-size;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        width: 100%;
        max-width: $button-max-width;
        padding: 10px;
        border-radius: 5px;
        box-shadow: $box-shadow;
        text-transform: uppercase;
        @extend .noselect;
    }
    &.disabled .mt-button__content {
        background-color: desaturate($primary-color, 50);
        cursor: not-allow;
    }
    &:hover:not(.disabled) {
        .mt-button__content {
            background-color: darken($primary-color, 10);
            box-shadow: $box-shadow-hover;
        }
    }
}