$primary-color: #F44336!default;
$primary-dark-color: #D32F2F!default;
$secondary-color: #f5f5f5!default;
$text-color: #212121;
$white: #fff!default;
$icon-size: 56px!default;
$nav-size: 80px!default;
$box-shadow: 0px 3px 5px 0px rgba(36, 0, 0, 0.20);
$box-shadow-hover: 0px 5px 7px 0px rgba(36, 0, 0, 0.30);
$menu-color: $primary-dark-color!default;
$menu-secondary-color: #ef5350!default;
$card-header-color: $primary-color!default;
$card-max-width: 800px;
$button-max-width: $card-max-width;