.burger-icon {
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
    border-radius: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    $color: #ecf0f1;
    $transition: .3s;
    $button-size: 1.5rem;
    margin: 5px;
    @extend %tran-ease-5;
    &:hover {
        // background: rgba($white, .2);
    }
    .lines-button {
        display: inline-block;
        border: none;
        background: none;
        transition: .3s;
        cursor: pointer;
        user-select: none;
        display: flex;
        width: 100%;
        justify-content: center;
        &:hover {
            opacity: 1;
            outline: none;
        }
        &:active {
            transition: 0;
            outline: none;
        }
        &:focus {
            outline: none;
        }
        span {
            display: block;
        }
        &.x.close {
            -webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
            .lines {
                background: transparent;
                &:before,
                &:after {
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    top: 0;
                    width: $button-size;
                }
                &:before {
                    -webkit-transform: rotate3d(0, 0, 1, 45deg);
                    transform: rotate3d(0, 0, 1, 45deg);
                }
                &:after {
                    -webkit-transform: rotate3d(0, 0, 1, -45deg);
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    }
    @mixin line {
        display: inline-block;
        width: $button-size;
        height: $button-size/7;
        background: $color;
        border-radius: $button-size/14;
        transition: $transition;
    } //common to all three-liners
    .lines {
        @include line;
        position: relative;
        &:before,
        &:after {
            @include line;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
        }
        &:before {
            top: $button-size/4;
        }
        &:after {
            top: -$button-size/4;
        }
    }
}