.mt-card {
    background-color: $white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    width: 100%;
    overflow: auto;
    font-size: .8em;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: $card-max-width;
    overflow-x: hidden;
    >.mt-card__header {
        background-color: $card-header-color;
        width: 100%;
        height: $icon-size;
        color: $white;
        font-size: 1.4em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
        text-transform: uppercase;
        font-weight: 600;
        >.mt-card__title {
            flex-grow: 1;
            max-width: calc(100% - 110px);
        }
        >.mt-card__right-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 110px;
            i {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
                background-color: rgba($white, .2);
                margin-right: 5px;
            }
        }
    }
    >.mt-card__content {
        min-height: 130px;
        padding: 10px;
        flex-grow: 1;
    }
}