$color--green: #7ac142;
$color--red: #cc0000;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
.mt-error,
.mt-confirm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .mt-confirm__message {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        animation: scaleText .3s ease-in-out .9s both;
        text-align: center;
    }
}

.mt-confirm {
    .mt-confirm__message {
        color: $color--green;
    }
    .checkmark__circle {
        stroke: $color--green;
    }
    .checkmark {
        box-shadow: inset 0px 0px 0px $color--green;
        animation: fillaaaaaGreen .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }
    @keyframes fillaaaaaGreen {
        100% {
            box-shadow: inset 0px 0px 0px 80px $color--green;
        }
    }
}

.mt-error {
    .mt-confirm__message {
        color: $color--red;
    }
    .checkmark__circle {
        stroke: $color--red;
    }
    .checkmark {
        box-shadow: inset 0px 0px 0px $color--red;
        animation: fillaaaaaRed .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }
    @keyframes fillaaaaaRed {
        100% {
            box-shadow: inset 0px 0px 0px 80px $color--red;
        }
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
    animation: stroke .6s $curve forwards;
}

.checkmark {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 5% auto;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 52;
    stroke-dashoffset: 52;
    animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes scaleText {
    0% {
        transform: scale3d(0, 0, 1);
    }
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}