.flying-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 100;
    .flying-button__content {
        z-index: 100;
        background-color: $primary-color;
        border-radius: 256px;
        width: $nav-size;
        height: $nav-size;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: $box-shadow;
        border: 1px solid rgba(darken($primary-color, 10), .3);
        i {
            @extend %tran-ease-3;
            font-size: 2.5em;
        }
    }
    &.disabled .flying-button__content {
        cursor: not-allowed;
        background-color: desaturate($primary-color, 50);
    }
    &.open {
        >.flying-button__content>i {
            transform: rotate(135deg);
        }
        >.flying-button__children {
            opacity: 1;
            bottom: calc(#{$nav-size} + 10px);
        }
        >.flying-button__overlay {
            width: 100%;
            height: 100%;
            z-index: 90;
            opacity: 1;
        }
    }
    .flying-button__overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }
    .flying-button__description {
        position: absolute;
        background-color: $secondary-color;
        border-radius: 3px;
        box-shadow: $box-shadow;
        color: $text-color;
        max-width: 150px;
        overflow: hidden;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -45px;
        right: 80px;
        padding: 0 10px;
    }
    .flying-button__children {
        z-index: 100;
        @extend %tran-ease-3;
        position: absolute;
        width: 100%;
        bottom: -500px;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        opacity: 0;
        >.flying-button {
            margin: 10px;
            position: unset;
            top: 0;
            >.flying-button__content {
                width: calc(#{$nav-size} - 20px);
                height: calc(#{$nav-size} - 20px);
                i {
                    font-size: 2em;
                }
            }
        }
    }
}