.image-header {
    position: relative;
    width: 100%;
    min-height: 150px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-header__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: 10;
        background-size: cover;
        .background__overlay {
            width: 100%;
            height: 100%;
            background-color: $secondary-color;
            opacity: .7;
        }
    }
    .image-header__title {
        color: $white;
        font-size: 2em;
        text-transform: uppercase;
        z-index: 20;
        font-weight: 500;
    }
}