.mt-menu {
    height: 100%;
    background-color: $menu-color;
    @extend %tran-ease-5;
    color: $white;
    overflow-x: hidden;
    .mt-menu__avatar {
        width: 100%;
        height: 30%;
        background-color: darken($menu-color, 10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i {
            padding: 10px;
            background-color: $menu-color;
            border-radius: 150px;
            font-size: 6em;
            margin-bottom: 10px;
        }
        .welcome-text {
            display: flex;
            justify-content: center;
            width: 100%;
            .truncate {
                // margin-left: 5px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .mt-menu__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .mt-menu__item-content {
            @extend %tran-ease-3;
            width: 100%;
            height: $icon-size;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            text-transform: uppercase;
            cursor: pointer;
            padding: 0 10px;
            .mt-menu__item-label {
                flex-grow: 1;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .mt-menu__item-icon {
                margin: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &:nth-child(odd) {
            background-color: darken($menu-color, 5);
        }
        .mt-menu__item-children {
            width: 100%;
            color: rgba($white, .9);
            .mt-menu__item {
                background-color: $menu-secondary-color;
                &:nth-child(odd) {
                    background-color: darken($menu-secondary-color, 5);
                }
            }
        }
    }
}